body {
  background-color: #242424;
}

.items {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 180px;
  height: 180px;
  padding: 20px;
  min-width: 180px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item span {
  text-transform: uppercase;
}
